.bucket{
    width: 201px;
    height: 301px;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5%;
    background-color: rgb(143, 170, 220);
}

.bucket svg {
    position: relative;
    width: 200px;
    height: 300px;
    left: -1px;
    top:-2px;
    border-radius: 5%;
}
.bucket-container {
    text-align: center;
}

#viz1 {
    margin-top:50px;
    margin-bottom: 50px;
    padding: 25px 0px 50px ;
    text-align: center;
    user-select: none;
    width: 100%;
    background-color: rgb(175, 171, 171);
    border-width: 3px 0px;
    border-style: solid;
    border-color: rgb(88, 86, 86);
}

#topBucket {
    position:relative;
    left: -5%;
}
#bottomBucket {
    position:relative;
    left: 5%;
}

.hublot {
    position:relative;
    width: 200px;
    height: 300px;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(131, 129, 129);
}

.hublot-lid {
    width: 200px;

    height: 50px;
    position:relative;
    top:249px;
    opacity: 0.6;
    border: 2px solid black;
    left:-2px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(189, 185, 185);
    text-align: center;
}
.hublot-handle{
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 10px;
    border: 2px solid black;

    background-color: rgb(175, 171, 171);
}


.left-hublot {
    left: -15%;
}
.right-hublot {
    left: 15%;
}

#slider-value{
    width: 40px;
    height: 30px;
    margin-top: 10px;
    padding-top:2px;
    background-color: rgb(68, 114, 196);
    border: 2px solid black;
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    color:white;
    font-size:20px;
    user-select: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tooltip{
    font-size: small;
}

.slider {
    width:300px;
}


.slider {
    -webkit-appearance: none;
    margin: 0;
    width:300px;
    user-select: none;
    border-radius: 30px;
    background: transparent;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    top:-10px;
    transform:translate(0,-10);
    background-color: white;
    background-image: url('img/plane-icon.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb:active {
    width: 31px;
    height: 31px;
    top:-15px;

  }
  
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  position:relative;
  border: 2px solid black;
  color: transparent;
  border-radius: 999px;
  padding: 2px;
  background: rgba(70, 134, 146, 0.5);
}
#viz4 {

    width: 100%;
    text-align: center;
	min-height: 300px;
	margin: 100px auto;
}


#viz4 .legend {
    display: inline-block;
    margin-right: 10px;
    /*background-color: gray;*/
    border: 2px solid black;
    padding-left: 5px;
	padding-top: 10px;
}

#viz4 .title {
    width: 80%;
    transform:translate(10%,0);
    margin-bottom: 100px;
}

.block {
    width: 20px;
    height: 20px;
    margin: 2.5px;
    border-radius: 15%;
}

.waffle {
    display: flex;
    flex-wrap: wrap;
    width: 625px;
}
#topWaffles {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: top;
}

#otherWaffle {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: top;
}

.waffleLabel {
    margin-bottom: 10px;
}

#viz3 {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}