.bucket{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4%;
    background-color: white;
}

.bucket svg {
    width: 200px;
    height: 300px;
    border-radius: 4%;
}
.bucket-containeur {
    text-align: center;
}

#viz1 {
    margin-top:100px;
    padding: 25px 0px 50px ;
    text-align: center;
    width: 100%;
    background-color: rgb(175, 171, 171);
    border-width: 3px 0px;
    border-style: solid;
    border-color: rgb(88, 86, 86);
}

#topBucket {
    position:relative;
    left: -5%;
}
#bottomBucket {
    position:relative;

    left: 5%;
}

#slider-value{
    width: 40px;
    height: 30px;
    margin-bottom: 10px;
    padding-top:5px;
    background-color: rgb(68, 114, 196);
    border-radius: 10%;
    color:white;
    font-size:20px;
    user-select: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.slider {
    width:300px;
}
/* 
.viz {
    width: 33%;
    height: 400px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
  } */